<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedro Bittencourt</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <style>
    body {
        background-image: url('{% static 'backgroundHomeImage.jpg' %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
</head>
<body>
  <header>
    <h1>Pedro Bittencourt</h1>
    <h2>Programador</h2>
  </header>
  <main>
    <section id="about">
      <h2>Sobre mim</h2>
      <p>
        Sou um programador experiente com mais de 3 anos de experiência.<br> Sou especialista em software.<br> Tenho um forte senso de ética e compromisso com a qualidade.
      </p>
      <p>
        Meus objetivos profissionais são evoluir profissionalmente e contribuir com a empressa.
      </p>
    </section>
    <div class="separator"> </div>
    <section id="skills">
      <h2>Habilidades</h2>
      <ul>
        <li>Linguagens de programação: C#, Python, Lua, javascript</li>
        <li>Frameworks: .NET, django, unity</li>
        <li>Bancos de dados: SQL</li>
        <li>Outras habilidades: Inglês intermediário</li>
      </ul>
    </section>
  </main>
  <div class="separator"> </div>
  <footer>
    <p>Copyright &copy; Pedro Bittencourt 2024</p>
  </footer>
</body>
</html>
